.about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: 250px;
  z-index: 1;
  opacity: 1;
  //overflow-y: scroll;
  clip-path: circle(50px at 100% -10%);
  &__inner {
    display: flex;
  }
  &__title,
  &__text {
    text-transform: uppercase;
    text-align: center;
  }
  &__title {
    font-size: 26px;
    line-height: 46px;
  }
  &__text {
    position: relative;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 50px;
    font-size: 15px;
  }
  &__text::after {
    content: "";
    width: 10%;
    position: absolute;
    height: 1px;
    background-color: #17181a;
    left: 0;
    bottom: -10px;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
  &-box {
    max-width: 425px;
  }
  &-box__text {
    margin-bottom: 30px;
    line-height: 26px;
  }
  &-box__title,
  &__info-title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  &-box__img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
  }
  &__info {
    max-width: 570px;
    margin-left: auto;
  }
  &__info-item {
    font-weight: 300;
    margin: 10px 0;
  }
  &__info-item--label {
    display: block;
    color: #17181a;
    font-weight: 500;
    padding-bottom: 5px;
  }
}
