@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "vars";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: "Work Sans", sans-serif;
  background-color: $main;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

body.hide {
  overflow-y: hidden;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
}
button,
input,
textarea {
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 10px;
}

span {
  color: $white;
  transition: all 0.3s ease-in-out;
}

.text {
  transition: all 0.3s ease-in-out;
}
svg {
  transition: all 0.3s ease-in-out;
}

svg:hover {
  fill: $special;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  font-size: 42px;
  padding-bottom: 20px;
}

.section-text {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  max-width: 550px;
  margin: 0 auto 10px;
  line-height: 30px;
}
