@media (max-width: 1800px) {
  .darkmode-toggle {
    right: 220px !important;
  }
}
@media (max-width: 1680px) {
  .darkmode-toggle {
    right: 160px !important;
  }
}
@media (max-width: 1510px) {
  .darkmode-toggle {
    right: 80px !important;
  }
}
@media (max-width: 1280px) {
  .portfolio__items {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }
  .cursor {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}
@media (max-width: 1000px) {
  .portfolio__tabs {
    justify-content: center;
    margin-bottom: 30px;
  }
  .portfolio__tab {
    margin: 0 30px;
  }
  .portfolio__text {
    padding-bottom: 30px;
  }
  .about {
    padding-top: 100px;
  }
  .about__inner {
    flex-direction: column;
  }
  .about-box {
    max-width: 100%;
    margin: 0 auto 30px;
  }
  .about__info {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .about-box__img {
    order: -1;
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .contacts__box {
    margin-bottom: 30px;
  }
  .contacts__inner {
    flex-wrap: wrap;
  }
  .contacts__form {
    margin-left: 0;
  }
  .contacts__form,
  .contacts__box {
    width: 100%;
  }
  .contact-me__area {
    resize: none;
  }
  .portfolio__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .portfolio__item {
    background-position: top center;
    max-width: 100%;
  }
  .header {
    min-height: 80vh;
  }
  .header__content-inner {
    flex-wrap: wrap;
  }
  .header__about {
    width: 100%;
    margin-bottom: 30px;
  }
  .header__top {
    margin-bottom: 100px;
  }
  .header__social {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .header__social-item {
    margin: 50px 50px;
  }
  .header__about-title {
    font-size: 55px;
    line-height: 64px;
  }
}
@media (max-width: 620px) {
  .contact-me__form-info {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 580px) {
  .contacts__title {
    font-size: 30px;
    line-height: 50px;
  }
  .portfolio__text {
    padding-bottom: 0;
  }
  .contacts__form-inputs {
    flex-wrap: wrap;
  }
  .contacts__input {
    width: 100%;
  }
  .section-title {
    line-height: 30px;
    font-size: 36px;
  }
  .section-text {
    margin: 0 auto 30px;
  }
  .header__about-title {
    font-size: 38px;
    line-height: 44px;
  }
  .header__top {
    margin-bottom: 50px;
  }
  .header__about {
    margin-bottom: 10px;
  }
  .header {
    min-height: 60vh;
  }
  svg {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 520px) {
  .footer__item {
    margin: 0 30px;
  }
  .portfolio__tab {
    margin: 0 10px;
    font-size: 14px;
  }
}
@media (max-width: 410px) {
  .footer__item {
    margin: 0 20px;
  }
  .contacts__item-link {
    font-size: 18px;
  }
  .contacts__btn {
    width: 100%;
  }
  .contacts__title {
    font-size: 22px;
    line-height: 46px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 28px;
  }
  .contact-me__title {
    padding: 20px 0px 15px 16px;
    font-size: 28px;
    line-height: 30px;
  }
  .contact-me__text {
    padding: 0px 0px 22px 16px;
    font-size: 16px;
  }
  .contact-me__form {
    padding: 0px 25px 25px 16px;
  }
  .contact-me__special {
    padding: 0px 0px 5px 5px;
  }
  .about__title {
    font-size: 22px;
    line-height: 38px;
  }
  .about-box {
    max-width: 100%;
    margin: 0 auto 10px;
  }
  .about__info {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .about-box__img {
    order: -1;
    margin-bottom: 10px;
  }
  .about {
    padding-top: 20px;
    overflow-y: scroll;
  }
  .section-title {
    line-height: 24px;
    font-size: 22px;
  }
  .section-text {
    font-size: 14px;
    line-height: 24px;
  }
  .header {
    min-height: 55vh;
  }
  .header__about-title {
    font-size: 28px;
    line-height: 36px;
  }
  .header__about {
    margin-bottom: 0px;
  }
  .header__about-btn {
    font-weight: 400;
    font-size: 14px;
    padding: 5px 10px;
  }
  .header__social-item {
    margin: 50px 30px;
  }
  .header {
    min-height: 50vh;
  }
  .skills__item-num,
  .skills__item-text {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .portfolio__tab {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 12px;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer__item {
    margin: 0 20px;
  }
}
