.skills {
  color: #fff;
  margin-bottom: 150px;
  &__item {
    line-height: 32px;
    margin-bottom: 35px;
  }
  &__item-content {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 2px solid #fff;
    border-width: 5px;
  }
  &__item-line {
    margin-top: -5px;
    height: 5px;
  }
  &__item-num,
  &__item-text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }
}
